# SPDX-FileCopyrightText: 2022 - 2025 Ali Sajid Imami
#
# SPDX-License-Identifier: MIT

exclude: '^dist/.*$'
repos:
    - repo: https://github.com/commitizen-tools/commitizen
      rev: v4.13.8
      hooks:
          - id: commitizen

    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0
      hooks:
          - id: check-json
          - id: no-commit-to-branch
            args:
                - --branch
                - main
                - --branch
                - next
          - id: check-merge-conflict
          - id: check-toml
          - id: check-xml
          - id: check-yaml
          - id: end-of-file-fixer
          - id: mixed-line-ending
            args:
                - --fix=no
          - id: pretty-format-json
            args:
                - --indent=4
                - --autofix
          - id: trailing-whitespace
            args:
                - --markdown-linebreak-ext=md
          - id: check-added-large-files

    - repo: https://github.com/compilerla/conventional-pre-commit
      rev: v4.3.0
      hooks:
          - id: conventional-pre-commit
            args:
                - build
                - chore
                - ci
                - docs
                - feat
                - fix
                - perf
                - refactor
                - revert
                - style
                - test
                - bump
            stages:
                - commit-msg

    - repo: https://github.com/Lucas-C/pre-commit-hooks
      rev: v1.5.6
      hooks:
          - id: forbid-crlf
          - id: remove-crlf
          - id: forbid-tabs
          - id: remove-tabs
    - repo: https://github.com/adrienverge/yamllint
      rev: v1.38.0
      hooks:
          - id: yamllint
            args:
                - --config=$(pwd)/.yamllint.yml
            stages:
                - commit-msg

    - repo: https://github.com/igorshubovych/markdownlint-cli
      rev: v0.47.0
      hooks:
          - id: markdownlint
            args:
                - --ignore
                - CHANGELOG.md

    - repo: https://github.com/Yelp/detect-secrets
      rev: v1.5.0
      hooks:
          - id: detect-secrets
            args:
                - '--baseline'
                - '.secrets.baseline'
            exclude: 'pnpm-lock.yaml'

    - repo: https://github.com/sirosen/texthooks
      rev: 0.7.1
      hooks:
          - id: fix-smartquotes
          - id: fix-ligatures
          - id: forbid-bidi-controls

    - repo: https://github.com/zricethezav/gitleaks
      rev: v8.30.0
      hooks:
          - id: gitleaks
    - repo: local
      hooks:
          - id: prettier
            name: prettier
            entry: node_modules/.bin/prettier --write --ignore-unknown
            language: system
            exclude: '^dist/.*$'
          - id: eslint
            name: eslint
            entry: node_modules/.bin/eslint --fix
            language: system
            files: \.[jt]sx?$
    - repo: https://github.com/fsfe/reuse-tool
      rev: 'v6.2.0'
      hooks:
          - id: reuse
    - repo: https://github.com/renovatebot/pre-commit-hooks
      rev: 43.4.3
      hooks:
          - id: renovate-config-validator
            language_version: 20.18.0
