name: Run SonarCloud scan
on:
    push:
        branches:
            - main
            - next
    pull_request:
        types:
            - opened
            - synchronize
            - reopened

permissions:
    contents: read

jobs:
    sonarcloud:
        permissions:
            contents: read # for actions/checkout to fetch code
        name: SonarCloud
        runs-on: ubuntu-latest
        steps:
            - name: Harden Runner
              uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
              with:
                  disable-sudo: true
                  egress-policy: audit
                  allowed-endpoints: >
                      api.github.com:443
                      api.sonarcloud.io:443
                      binaries.sonarsource.com:443
                      github.com:443
                      index.crates.io:443
                      mise-versions.jdx.dev:443
                      mise.jdx.dev:443
                      nodejs.org:443
                      registry.npmjs.org:443
                      release-assets.githubusercontent.com:443
                      scanner.sonarcloud.io:443
                      sonarcloud.io:443
                      static.crates.io:443

            - name: Checkout repository
              uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
              with:
                  fetch-depth: 0

            - name: Install mise
              uses: jdx/mise-action@c37c93293d6b742fc901e1406b8f764f6fb19dac # v2.4.4
              with:
                  version: 2026.2.19
                  install_args: --yes

            - name: Generate Coverage Report
              run: mise run test

            - name: SonarCloud Scan
              uses: SonarSource/sonarqube-scan-action@2f77a1ec69fb1d595b06f35ab27e97605bdef703 # v5.3.2
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Needed to get PR information, if any
                  SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
